.wp-block-gallery {
	display: none;
}


.slick-initialized {
	display: block;
}
.slick-slider {
	margin-top: 4rem;
	//display: none;

	.slick-slide {
		//margin: 0 1rem;
		outline: none;
	}

	.slick-arrow {

		&:before {
			color: $color-gray-1;
			opacity: 1;
		}

		&:hover {
			.slick-arrow{
				&:before {
					color: $color-primary-1 !important;
				}
			}
		}
	}

	.slick-prev, .slick-next {

		top: -1.6rem;

	}
	.slick-prev {
		left: 0;
	}

	.slick-next {
		left: 30px;
	}

	.slick-dots {
		position: relative;
		bottom: 0;
	}
	figure {
		//max-height: 500px;
		img {
			max-height: 500px;
		}
	}
}
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {

	@include font-size(pxsmall);
	text-align: left;
	width: auto;
}
// overwrite
.wp-block-gallery.is-cropped .blocks-gallery-image a,
.wp-block-gallery.is-cropped .blocks-gallery-image img,
.wp-block-gallery.is-cropped .blocks-gallery-item a,
.wp-block-gallery.is-cropped .blocks-gallery-item img {

}
