$button-primary: linear-gradient(36deg, $color-primary-2 0%, $color-primary-1 55px);
$button-primary-hover: linear-gradient(36deg, #26A072 0%, #018C74 55px);

$button-ecom: linear-gradient(36deg, $color-ecommerce-1 0%, $color-ecommerce-2 55px);
$button-ecom-hover: linear-gradient(36deg, #EE910F 0%, #ED5E0F 55px);

$button-dulux: linear-gradient(36deg, $color-primary-3 0%, $color-primary-4 55px);
$button-dulux-hover: linear-gradient(36deg, #021A56 0%, #00164F 55px);

$button-play-mobile: 6rem;
$button-play-tablet: 6rem;
$button-play-desktop: 7.2rem;
