/* Source: Bootstrap */

/////
// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
/////
$grid-breakpoints: (
        xxs: 0,
        xs: 320px,
        sm: 480px,
        md: 768px,
        lg: 992px,
        xl: 1280px
) !default;

/////
// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
/////
$container-max-widths: (
        sm: 456px,
        md: 720px,
        lg: 960px,
        xl: 1200px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           20px !default;
$enable-grid-classes:       true !default;
