.container {
	color: $text-color;

	.main {
	//	padding-top: 5rem;
		//@include vr-rhythm(('padding-top': 10, 'padding-bottom': 9));
		@include vr-rhythm('padding-top', 8);
	}
}

.template-home {

	main {
		position: relative;
		height: calc(100vh - 5rem);
	}

	.page-mega-header{
		position: absolute;
		@include vertical-align();

		h1 {
			@include font-size('homepage');
			@include vr-rhythm('margin-bottom', 1);
		}
	}
}
