.toplevel_page_new_royalslider .ui-dialog {
	z-index: 1 !important;
}

body {
	font-family: "lato", sans-serif;
	color: $color-white;

	.container {
		position: relative;
		z-index: 10;

	}

	.bg-image {
		z-index: 1;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		position: fixed;
		background-size: cover;
		background-position: center;
		//background-blend-mode: multiply;

		&::before {
			content: " ";
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			//background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.8));
			background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.95));
			position: absolute;
			z-index: 1;
		}
	}
}

.hidden {
	display: none;
}
